<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Resolution Maker</title>
  <link rel="stylesheet" type="text/css" href="./asssets/materialize/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="./asssets/materialize/js/materialize.min.js">
  <link rel="stylesheet" type="text/css" href="./style.css">
  <script src="https://kit.fontawesome.com/bffd864163.js"></script>
</head>
<body>
  <div id="app">
    <div id="navbar">
      <div class="nav-content logo-nav" @click="page = 'article'">
          <i class="far fa-calendar-check logonya"></i>
        <div class="nav-content">Resolution Maker</div>
      </div>
       <div class="nav-content logout-nav" v-if="loginStatus === true" @click="logoutUser">
        <div class="nav-content">Sign Out</div>
        <i class="fas fa-sign-out-alt logonya"></i>
      </div>
      <div class="nav-content login-nav" v-if="!loginStatus && page != 'login'" @click="page = 'login'">
        <div class="nav-content">Sign In</div>
        <i class="fas fa-sign-in-alt logonya"></i>
      </div>
    </div>  
    <p style="text-align: center" id="successAlert" v-show="successRegister === true" class="primary-container">Success created an account {{register.email}} !</p>
    <div id="login-page" v-if="page === 'login'">
      <div id="login" class="primary-container">
        <h4 style="text-align: center">Login</h4>
        <h6 v-show="errorLogin.status === true"> {{ errorLogin.msg }}</h6>
        <form class="form-login" @submit.prevent="loginUser">
          <label for="login-email">Email</label>
          <input type="text" name="login-email" id="login-email" v-model="login.email" required>
          <label for="login-password">Password</label>
          <input type="password" name="login-password" id="login-password" v-model="login.password" required>
          <button type="submit" class="btn amber lighten-1" style="margin-top: 10px;">Sign In</button>
        </form>
      </div>
      <div id="register" class="primary-container">
        <h4 style="text-align: center">Register</h4>
        <h6 v-show="errorRegister.status === true"> {{ errorRegister.msg }}</h6>
        <form class="form-login" @submit.prevent="registerUser">
          <label for="register-email">Email</label>
          <input type="text" name="register-email" id="register-id" v-model="register.email" required>
          <label for="register-password">Password</label>
          <input type="password" name="register-password" id="register-password" v-model="register.password" required>
          <button type="submit" class="btn amber lighten-1">Register</button>
        </form>
      </div>
    </div>
    <div id="main-content" v-else>
      <div id="resolution-paper" class="primary-container">
        <div id="resolution-topbar">
          <p>Johnson</p>
          <i class="far fa-calendar-plus" id="logo-add" @click="showModal = true"></i>
          <modal v-if="showModal" @close="showModal = false">
            
          </modal>
        </div>
        <!-- yang di loop dibawah ini -->
        <div class="resolution">
          <div class="resolution-content">
            <p class="resolution-text">1. Lari pagi setiap hari</p>
          </div>
          <div class="resolution-option">
            <a href="#" class="btn-small red darken-4" v-on:click="deleteArticle(article._id)">delete</a>
            <a href="#" class="btn-small  amber lighten-1" >edit</a>
          </div>
        </div>
        <div class="resolution">
          <div class="resolution-content">
            <p class="resolution-text">2. Lulus Hacktiv8 dan punya gaji diatas 10 juta</p>
          </div>
          <div class="resolution-option">
            <a href="#" class="btn-small red darken-4" v-on:click="deleteArticle(article._id)">delete</a>
            <a href="#" class="btn-small  amber lighten-1" >edit</a>
          </div>
        </div>
        <div class="resolution">
          <div class="resolution-content">
            <p class="resolution-text">3. Mengunjungi one piece tower di jepang, tokyo</p>
            <div class="resolution-image">
              <img src="https://media-cdn.tripadvisor.com/media/photo-s/10/2f/a2/0a/caption.jpg" alt="onepiece.png" class="image">
            </div>
          </div>
          <div class="resolution-option">
            <a href="#" class="btn-small red darken-4" v-on:click="deleteArticle(article._id)">delete</a>
            <a href="#" class="btn-small  amber lighten-1" >edit</a>
          </div>
        </div>
        <div class="resolution">
          <div class="resolution-content">
            <p class="resolution-text">4. Beli switch</p>
            <div class="resolution-image">
              <img src="https://cdn.vox-cdn.com/thumbor/IVK5IRRZsFp9KWOr5SYFlctosVM=/0x0:2040x1360/1200x800/filters:focal(857x517:1183x843)/cdn.vox-cdn.com/uploads/chorus_image/image/57533307/jbareham_1492_170228_0024.0.0.jpg" alt="onepiece.png" class="image">
            </div>
          </div>
          <div class="resolution-option">
            <a href="#" class="btn-small red darken-4" v-on:click="deleteArticle(article._id)">delete</a>
            <a href="#" class="btn-small  amber lighten-1" >edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="./javascript/modal-component.js"></script>
  <script src="./javascript/main.js"></script>
</body>
</html>